@import '_variables';

.main_section {
    height: calc(100% - 56px);

        ul {
            padding: 0;
            margin: 0;
        }

        @media only screen and (min-width: 601px){
            height: calc(100vh - 64px);
        }
        .categories{
            background: url('../../Category/components/Spinner.gif') no-repeat center;
            .carousel{
                height: calc(100vh - 94px);
                @media only screen and (max-width: 601px){
                    height: calc(100vh - 86px);
                }
                .slider-wrapper{
                    overflow: unset;
                    .slider{
                        .slide{
                            background: transparent;
                            .legend{
                                background: transparent;
                                font-size: 5em;
                                opacity: .5;
                                @media only screen and (max-height: 600px){
                                    bottom: 70%
                                }
                                a{
                                    color: #fff;//$primary-green;
                                    letter-spacing: 11px;
                                }
                            }
                        }
                    }
                    .slider:hover .legend{
                        opacity: .8;
                    }
                }
            }
        }
}
