@import '_variables';

.container{
    li{
        list-style: none;
        div{
            a{
                text-decoration: none;
                color: #fff;
                height: 35px;
                width: 70px;
                border-radius: 10px;
                background: blue;
                margin-bottom: 10px;
                text-align: center;
                padding-top: 6px;
            }
        }
        div:hover{
            cursor: pointer;
        }
        div.click{
            background:red;
        }
    }
}

.main_section {
    height: calc(100vh - 56px);
    background: $primary-green;

        ul {
            padding: 0;
            margin: 0;
        }

        @media only screen and (min-width: 601px){
            height: calc(100vh - 64px);
        }
}

