.pictures{
    flex-basis: 80%;
    background: #383D40;
    display: flex;
    &>div{
        margin: auto;
    }
    div.img{
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 500px;
    }
}
