.pictures{
    width: 60%;
    margin-left: 10%;
    background: #383D40;
}
.carousel.carousel-slider{
    height: 95% !important;
    div{
        background-size: contain;
        background-repeat: no-repeat; 
        background-position: center;
    }
}
.carousel .indicators{
    top: 0;
    bottom: auto;
}

@media (min-width: 500px) and (max-width: 960px) {
    .carousel.carousel-slider .carousel-item {
        height: 50%;
    }
}