.details{
    padding-top: 30px; 
    p{
        margin: 15px;
    }
    .get{
        margin: 50px auto; 
        max-width: 110px;
    }
    .prohibited{
        margin: 50px auto; 
        background: red;
        color: white;
        max-width: 100px;
        text-align: center;
        cursor: auto;
    }
}