.modal_box_adopt{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
}
.modal_form{
    background-color: #383D40;
    width: 400px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    border-radius: 2px;
    div input{
        width: 100px;
    }
    button{
        width: 35%;
        margin: 10px auto;
        padding: 0;
    }
}