*, :after, :before {
  box-sizing: inherit;
}

.animal-info {
  background-color: green;

  padding: 30px 30px 70px 30px;
}

.animal-info:after {
  display: table;
  clear: both;
  content: '';
}

.animal-info img {
  width: 55%;
  float: left;
}

.animal-info ul {
  float: left;
}

.animal-info button {
  color: red;
}

//.animal-info ul:after {
//  display: table;
//  clear: both;
//  content: '';
//}

.text-info {
  margin: 20px 30px 20px 0 ;
  text-align: left;
  font-size: 0.7em;
  display: block;
}