@import '_variables';

.main_section{
    // background: transparent;
}
input, select, textarea{
    color: $secondary-gray;
}
textarea:focus, input:focus {
    color: $secondary-gray;
}
.input_box {
	.form_input {
	    background: red;
	}
}