.main_wrapper{
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: flex-direction;
	flex-direction:column;
	background: rgba(60,143,87,.3);
	.relocation_nav {
		display: flex;
		justify-content:space-around;
		width: 100%;
		height: 100%;	

		.wrap {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content:center;
			align-items:center;		

			.goesHome {
				margin-top:200px;
				.homeP {
					&:after {
						filter:blur(0px);
					}
				}
				&:hover {
					transition: all 0.3s ;
					filter:blur(0px);
					transform:scale(1.1);
					.text {
						visibility: visible;
					}
				}
			}

			.goesShelter {
				margin-top:200px;
				z-index: 2;
				&:hover {
					transition: all .3s ;
					transform:scale(1.1);
					.text {
						visibility: visible;
					}
				}
			}

		}
		.homeP {
			z-index: 2;
			background: rgba(60,143,87,.4);
			border: 2px solid #79bd8f;
			border-radius: 3px;
			height: 50px;
			min-width: 180px;
			text-align: center;
			padding:10px;
			color: #383d40;
			width: 150px;
			cursor: pointer;
			outline: none;
		}
	}


}

.slider {
	z-index: -1;
	.slide {
		color:white;
	}
}
