@import '_variables';

.main_wrapper{
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: flex-direction;
	flex-direction:column;
	background: rgba(60,143,87,.3);
	.relocation_nav {
		display: flex;
		justify-content:space-around;
		width: 100%;	
		position: absolute;
		bottom: 0;
		background: rgba(60,143,87,.3);
		.wrap {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content:center;
			align-items:center;		
		}
		.goesHome, .goesShelter {
				z-index: 2;
				
				
		}
		.homeP {
			z-index: 2;
			background: rgba(60,143,87,.4);
			border: 2px solid #79bd8f;
			border-radius: 5px;
			height: 50px;
			min-width: 200px;
			text-align: center;
			padding:10px;
			color: #383d40;
			width: 150px;
			cursor: pointer;
			outline: none;
			&:hover {
				transition: all .3s ;
				border: 2px solid $primary-dark-green;
				color:$secondary-gray;			
			}
		}
	}

.slider {
	z-index: -1;
	.slide {
		color:white;
	}
}

}

.main_page_logo {
	height: 80px;
	&:hover {
		transition: all .3s;
		transform: scale(1.1);
	}
}

