.flex-container{
    display: flex;
    height: calc(100% - 30px);
    background-color: #383D40;
    .closer{
        display: none;
    }
}
@media (max-width: 600px) {
    .flex-container .closer{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: 999;
        background: rgba(0,0,0,.7)
    }
}
