.contacts_wrapper {
    height: calc(100% - 30px);
    background-image: url('../../Partners/assets/bg1.jpg');
    background-size: cover;
    background-repeat: none;

         h4 {
             margin: 0;
             color: white;
             padding: 10px;
             text-align: center;
         }
}

.contacts_container {
    height: 100%;
    overflow-y: auto;
    background-color: rgba(60,143,87,.9);
    align-items: center;
    padding: 0 40px;
}

.contacts_info {
    font-family: "Roboto", sans-serif;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
        h5 {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
        }

        img {
            width: 80px;
        }

        .contacts_location{
            margin-left: auto;
        }

        address {
            font-style: normal;
            font-size: 1em;
            padding: 20px 10px 0 10px;

                img {
                    width: 16px;
                    margin-right: 5px;
                }
        }
}

.contacts_map {
    height: 225px;
    position: relative;
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% ;
        }
}
