.petEditor {
	margin-top: 50px;
	.header {
		font-weight: bold;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items:flex-start;
	}
	label {
		color: black;
		display: flex;
		flex-direction: column;
		max-width: 350px;
		width: 350px;
		.caret {
			bottom: 60%;
		}
		@media (max-width: 375px) {
			width: 100%;
		}
		&.have_select {
			padding-bottom: 15px;
		}
		input[type=text] {
			color: black;
			border-bottom: 1px solid black;
		}
		input.submit.btn.get.waves-effect.waves-light{
			max-width: 120px;
		}
		select {
			display: block;
			color:black;
			background: transparent;
			outline: none;
			border:none;
			border-bottom: 1px solid black;
		}	
	}
	.buttons_block{
		width: 350px;
    display: flex;
    justify-content: space-around;
	}
	.url_box {
		display: flex;
		@media (max-width: 375px) {
			width: 100%;
		}
		.images{
			display: flex;
			flex-direction: column;
			.img {
				width: auto;
				height: 50px;
				margin-bottom: 20px;
				margin-left: 20px;
					&:hover { 
						transform: scale(2.5);
						transition: all ease-out .3s;
					}
				}
		}
	}
}
