// main colors
$primary-green: #79bd8f; //rgba(60,143,87,.9)
$primary-light-green: #aaf0bf;
$primary-dark-green: #4a8c61;

$secondary-gray: #b0bec5;
$secondary-light-gray: #e2f1f8;
$secondary-dark-gray: #808e95;


$font-black: #000000;
$font-white: #ffffff;

$form-gray: #383d40;

