.login_form {
	background: #383D40;
	height: calc(100% - 30px);
	display: flex;

	.profile {
		padding: 0;
		margin: 0 auto;
		text-align: center;
		#picture {
			color: #79bd8f;
		}
	}
	button {
		display: block;
		background: #79bd8f;
		color: #383d40;
	}
	.notification{
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	@media (max-width: 500px){
		.modal_form{
			height: 80%;
		}
	}
}

.toast {
	color: yellow;
}

.load {
	background: red;
	//background: url('../../Category/components/Spinner.gif') no-repeat center;
	//background-size: 50%;
}
