.login_form {
	background: #383D40;
	height: calc(100% - 30px);
	display: flex;
	.message1{
		padding:0;
		margin: 0 auto;
	}
	button{
		display: block;
		background: #79bd8f;
		color: #383d40;
	}
	.notification{
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}


//@import '_variables';
//
//.form_wrapper {
//	background-image: url('../assets/bg.jpg');
//	background-size: cover;
//	background-repeat: no-repeat;
//	height: 88vh;
//}
//.login_form {
//	display: flex;
//	justify-content: center;
//	padding-top: 20px;
//	background-color: rgba(60,143,87,.9);
//	height: 88vh;
//}
//.form_header, .form_text {
//	color:white;
//}
//
//.form_box {
//	height: 500px;
//	width: 450px;
//	padding: 20px;
//	background: $form-gray;
//	border: 1px solid black;
//	display: flex;
//	flex-direction:column;
//	align-items: center;
//	justify-content: space-around;
//	.form {
//		display: flex;
//		flex-direction: column;
//		align-items:center;
//	}
//}
//
//.form_input {
//	background-color: red;
//	width: 400px;
//}

