@import '_variables';

.main-layout-header {
	background-color: $primary-green;
	border-bottom: 2px solid #00a388;
		.filter_btn{
			position: absolute;
			right: 5px;
			list-style: none;
		}
		.active {
				background-color: $primary-dark-green;
		}

		.brand-logo {
			margin-left: 10px;
			height: 54px;
			@media only screen and (min-width: 601px){
				height: 62px;
			}
			img {
				height: 54px;
				@media only screen and (min-width: 601px){
					height: 62px;
				}
				&:hover {
						transition: all .3s;
						transform: scale(1.1);
						background:inherit;
				}
			}
		}

		.button-colapse {
			margin-left: 10px;
				@media only screen and (min-width: 993px){
					display: none;
			}
		}

		.sidenav-logo {
			height: 54px;
			&:hover {
					transition: all .3s;
					transform: scale(1.1);
					background:inherit;
			}
		}
}
