.header {
    background-color: #79bd8f;
    font-size: 18px;
    margin: 0;
    border-bottom: 2px solid #00a388;
    height: 15vh;
    nav{
        height: 100%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        li{
            margin-right: 20px;
        }
        .logo {
            margin-right: auto;
        }

        a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 41px;
        }
    }

    .active {
        background-color: darken(#79bd8f, 10%);
    }
}
