.formTo {
	background: #383D40;
	height: calc(100% - 30px);
	display: flex;
	.message1{
		padding:0;
		margin: 0 auto;
	}
	button{
		display: block;
		background: #79bd8f;
		color: #383d40;
	}
	.notification{
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}