.flex-container_img{
    display: flex;
    justify-content: space-around;
    a{
        flex-basis: 25%;
        margin-top: 10px;
    }
    img{
        width: 100%;
        min-width: 150px;
        min-height: 150px;
        height: 150px;
        border-radius: 2px;
    }
    .load{
        display: flex;
        img{
            width: 30%;
            margin: auto;
        }
    }
}
