.flex-container_img{
    display: flex;
    justify-content: space-around;
    height: 100%;
    a{
        flex-basis: 30%;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.7);
        margin: 10px 0;
        cursor: pointer;
        background-size: cover;
        background-position: center;

    }
    .empty{
        box-shadow: none;
    }
    .load{
        background: url('./Spinner.gif') no-repeat center;
        background-size: 50%;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .flex-container_img a{
        flex-basis: 45%;
    }
}

@media (max-width: 600px) {
    .pet-list{
        width: 100% !important;
        a{
            flex-basis: 90%;
        }

    }
}
