.table{
	display: flex;
	flex-direction:column;
	border: 1px solid black;
	.pet_row {
		display: flex;
		border-bottom: 1px solid black;
		&:last-child {
			border-bottom: 0;
		}
		.rowItem {
			width: 15%;
			text-transform: capitalize;
	    border-right: 1px solid black;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  &:last-child {
		  	border-right: 0;
		  }
			.table_btn {
				cursor: pointer;
				&:hover {
					transform:scale(1.2);
				}
			}
			.img {
				height: 100%;
				width: 100%;
				cursor: pointer;
				&:hover {	
					transition:all .8s;
					transform:scale(2.5);
				}
			}
		}
	}
}