.message {
    // display: inline-block;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin:5px;
    box-sizing: border-box;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width : 375px){
        width: 75%;
    }   
    
    @media (min-width : 720px){
        width: 210px;
    } 

    @media (min-width : 940px){
        width: 250px;
    } 

    div{
        margin-bottom: 5px;
        span{
            font-weight: bold;
        }
    }
    .btn-offer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 12px;
        width: 100%;
        button{
            background: transparent;
            border: none;
            &:hover{
                i {
                    transform: scale(1.2);
                }
            }
            @media (min-width : 720px){
                &:first-child{
                    margin-bottom: 5px;
                }                
            }
            @media (min-width : 940px){
                &:first-child{
                    margin-bottom: 0;
                } 
            } 
        }
    }
    .modal_form{
        height: 600px;
        padding-top: 50px;
        input{
            padding-left: 12px;
        }
    }
    .drop div:first-child{
        margin:0 auto;
    }
}