.message {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin:5px;
    box-sizing: border-box;
    width: 250px;
    border-radius: 10px;    

    div{
        margin-bottom: 5px;
    }
    .btn-offer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 12px;
    }
    .links {
        text-decoration: none;
        color: black;
    }
}